<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Web dev Concept</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">Creer votre site avec un profesionel!
          Web Dev Concept est une jeune entreprise de création de site web dynamique et original.  </p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">En savoir plus</a>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Je peux créer ce dont vous avez besoin</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">
          Web Dev concept a tous ce qu'il vous faut pour creer de puissant site web pro et fonctionel.Nous travaillions avec passion pour vous vendre le meilleur produit qui soit.</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">A votre service</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
            <h3 class="mb-3">Ruby on rails</h3>
            <p class="text-muted mb-0">Nos sites sont créer avec le framework Ruby on rails, accompagné de javascript HTML5 et CSS3</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
            <h3 class="mb-3">Prêt a l'utilisation</h3>
            <p class="text-muted mb-0">On vous livre un site fonctionel</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
            <h3 class="mb-3">Toujours a jour</h3>
            <p class="text-muted mb-0">On travail avec les technologies les plus avancé</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
            <h3 class="mb-3">Made with Love</h3>
            <p class="text-muted mb-0">from Web dev concept</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters popup-gallery">
<div class="col-lg-4 col-sm-6">
          <a class="portfolio-box">
            <img class="img-fluid" <%= image_tag "colonel_moutarde.jpg", :size =>'650*350'%> >
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Site Web Complex
                </div>
                <div class="project-name">
                  Colonel moutarde
                </div>
              </div>
            </div>
          </a>
        </div>

<div class="col-lg-4 col-sm-6">
          <a class="portfolio-box">
            <img class="img-fluid" <%= image_tag "colonel_moutarde2.jpg", :size =>'650*350'%>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Site Web Complex
                </div>
                <div class="project-name">
                  Colonel moutarde
                </div>
              </div>
            </div>
          </a>
        </div>

<div class="col-lg-4 col-sm-6">
          <a class="portfolio-box">
            <img class="img-fluid" <%= image_tag "teleachat.png", :size =>'650*350'%>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  E-commerce
                </div>
                <div class="project-name">
                  Télé a-Chat
                </div>
              </div>
            </div>
          </a>
        </div>   
      </div>
    </div>
    
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Let's Get In Touch!</h2>
          <hr class="my-4">
          <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
          <p>bientot disponible</p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
          <p>
            <a href="mailto:samuel.assani.pro@gmail.com">samuel.assani.pro@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="https://blackrockdigital.github.io/startbootstrap-creative/vendor/jquery/jquery.min.js"></script>
  <script src="https://blackrockdigital.github.io/startbootstrap-creative/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://blackrockdigital.github.io/startbootstrap-creative/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://blackrockdigital.github.io/startbootstrap-creative/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="https://blackrockdigital.github.io/startbootstrap-creative/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="https://blackrockdigital.github.io/startbootstrap-creative/js/creative.min.js"></script>